@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

*{
  font-family: Quicksand;
}

body{
  /* background-color:rgb(21, 22, 22); */
  background-color: aliceblue;
}

.nav {
  background-color: #000000;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* box-shadow: 0px 7px 15px 0px rgb(149, 149, 149); */
  margin-bottom: 0;
}

.hello{
  color: aliceblue;
}

.website-name{
  align-items: center;
  color: aliceblue;
  margin-right: auto;
  text-decoration: none;
}

.List {
  display: flex;
  color: white;
  list-style: none;
}

.List li{
  padding: 0px 30px;
}

.logo{
  padding-left: 20px;
  align-items: center;
  margin-right: 10px;
}

.List li a{
  color: white;
  text-decoration: none;
}

.List li a:hover{
  color:rgb(55, 177, 136);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
